* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap; */
  flex-flow: row nowrap;

  justify-content: flex-start;
  /* align-items: flex-end; */
  align-content: stretch;

  min-height: 50vh;
  height: 100vh;
  background-color: rgba(71, 168, 25, 0.308);
  border: 2.5px solid green;
}

.card {
  width: 5px;
  flex-grow: 1;
  border: 1px solid rgb(136, 129, 38);
  background-color: rgb(211, 198, 19);
  color: rgb(4, 27, 131);
  text-align: center;
  font-size: 2em;
  /* margin: 5px; */
}

.flex_item_1{
  flex-grow: 3;
}

.flex_item_2{
  flex-grow: 4;
}
